VITE_DEFAULT_NETWORK=localnet
VITE_MARKETPLACE_APP_ID=
VITE_MARKETPLACE_APP_SPEC_URL=/contracts/ai-api-marketplace.arc56.json
VITE_MARKETPLACE_BOX_PREFIX=api:
VITE_MARKETPLACE_PERMISSION_BOX_TEMPLATE=permission:{apiId}:{sender}
VITE_MARKETPLACE_PAY_FOR_ACCESS_METHOD=pay_for_access
VITE_MARKETPLACE_API_TITLE_KEY=title
VITE_MARKETPLACE_API_DESCRIPTION_KEY=description
VITE_MARKETPLACE_API_PRICE_KEY=priceMicroAlgos
VITE_MARKETPLACE_API_CURRENCY_KEY=currency
VITE_MARKETPLACE_ENDPOINT_KEY=endpoint
VITE_MARKETPLACE_PUBLISHER_KEY=publisher
VITE_LOCALNET_ALGOD_SERVER=http://localhost:4001
VITE_LOCALNET_ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
VITE_LOCALNET_INDEXER_SERVER=http://localhost:8980
VITE_LOCALNET_INDEXER_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
